<h2>Bienvenido a la zona de asistencias</h2>

  	<div class='card large-padding'>
		<p>Para establecer una asistencia dirigase a:</p>
		<%= link_to 'Añadir asistencia', attendances_path %>
		<p>Hey mira datos y estadisticas de vos y tus compañeros: </p>
		<%= link_to 'Aqui', asistencia_jugador_path %>
  </div>
</div>