<h2>Bienvenido a la administracion de su establecimiento</h2>

  	<div class='card large-padding'>
		<p>Para administrar los establecimientos dirigase al siguiente link</p>
		<%= link_to 'Gestion de establecimientos', establishments_path %>
		<p>Para administrar los campos deportivos dirigase al siguiente link</p>
		<%= link_to 'Gestion de campos deportivos', fields_path %>
  </div>
</div>